@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.output-container {
  margin-top: 40px; /* Move the result box down */
}

textarea.e-input {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: monospace;
  background-color: #f9f9f9;
}

/* Move the editor upwards */
.w-full {
  margin-top: -20px; /* Adjust as needed to move the editor upwards */
}

.rounded-editor {
  border-radius: 10px; /* Add rounded corners to the editor */
}

.rounded-button {
  border-radius: 10px; /* Add rounded corners to the buttons */
  color: black; /* Add black text color to the buttons */
  font-weight: bold; /* Make the button text more bold */
}

.output-container {
  margin-top: 40px; /* Add gap between editor and output */
}

textarea.e-input.rounded-textarea {
  width: 100%;
  height: 200px;
  border: 1px solid black; /* Add black border */
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold; /* Terminal-like font */
  background-color: #f9f9f9;
  border-radius: 10px; /* Add rounded corners to the output textarea */
  color: black; /* Make the text color black */
}
/* Ensure the CodeMirror editor has rounded corners */
.CodeMirror {
  border-radius: 15px !important; /* Force the border-radius */
  overflow: hidden; /* Ensure the content respects the border-radius */
}

/* Add white glow effect to button text */
.glow-text {
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  animation: glow 10s infinite; /* Apply the animation */
}

@keyframes neon {
  0%, 100% {
    text-shadow: 
      0 0 5px #fff, 
      0 0 10px #fff, 
      0 0 15px #d900ff, 
      0 0 15px #ff00ff, 
      0 0 20px #ff00ff, 
      0 0 20px #ff00ff, 
      0 0 25px #ff00ff, 
      0 0 25px #ff00ff;
  }
  50% {
    font-weight: bold; /* Make the text bold */
  text-shadow: 
    0 0 1px #fff, 
    0 0 2px #fff, 
    0 0 4px #200620, 
    0 0 8px #1a021a, 
    0 0 16px #fef2fe, 
    0 0 32px #d7cdd7, 
    0 0 35px #e1d2e1, 
    0 0 40px #d4cfd4;
  }
}
.neon-text {
  color: #090000; /* Ensure the text color is white */
  font-weight: bold; /* Make the text bold */
  text-shadow: 
    0 0 1px #fff, 
    0 0 2px #fff, 
    0 0 4px #200620, 
    0 0 8px #1a021a, 
    0 0 16px #fef2fe, 
    0 0 32px #d7cdd7, 
    0 0 35px #e1d2e1, 
    0 0 40px #d4cfd4;
  animation: neon 50s infinite; /* Apply the animation with a slower speed */
}
